<div class="hero-card content-object">

  <h1>!Hola soy Marco Montiel¡</h1>

  <p>
    <b>Desarrollador de software enfocado en crear aplicaciones web modernas</b> de Puebla, México. 
  </p>
  <p>
    Me apaciona crear cosas que faciliten a la gente hacer sus cosas
  </p>

  <div class="buttons">

    <a class="btn" href="https://github.com/Mmontiel13"> <i class="fa-brands fa-github fa-lg"></i>Github</a>
    <a class="btn" href="#"> <i class="fa-solid fa-file-lines fa-lg"></i>CV</a>

  </div>

</div>

<style>

.hero-card{
  width:520px;
  padding:20px;
}

.hero-card h1{
  font-size:36px;
  margin-bottom:20px;
  font-weight: 900;
}

.hero-card p{
  font-size:16px;
  opacity:.8;
}

</style>