<section class="contact" id="contacto">
  <h2>Contactame</h2>

  <div class="contact-grid">
    <div class="left">
      <h4>Medios de comunicación</h4>
      <a href="mailto:marcmontiel98@gmail.com?Subject=Me interesa contactarte!">Enviar e-mail <i class="fa-solid fa-paper-plane"></i></a>
      <a href="https://github.com/Mmontiel13"><i class="fa-brands fa-github fa-lg"></i></a>
      <a href="https://www.linkedin.com/in/devmontiels/"><i class="fa-brands fa-linkedin"></i></a>
    </div>

    <div class="center">
      <slot />
    </div>

    <div class="right">
      <h4>Otras Actividades</h4>

      <p>Diseño UI, contribuciones open source</p>
    </div>
  </div>
</section>

<style>
  .contact {
    margin-top: 600px;
    max-width: auto;
    margin-bottom: 400px;
    margin-inline: auto;
    padding-bottom: 50px;
    margin-left: 10px;
    margin-right: -40px;
  }

  .contact h2{
    text-align: center;
    margin-bottom: 40px;
    font-size: 28px;
    font-weight: 700;
  }

  .contact-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 60px;
    align-items: center;
  }

  .left{
    padding-left: 60px;
  }

  .left h2{
    text-align: center;
    margin-bottom: 40px;
    font-size: 28px;
  }

  .center {
    display: flex;
    justify-content: center;
  }

  .right{
    padding-left: 40px;
  }
</style>
